
img{
    width: 100%;
}
.banner{
    width: 100%;
}
.title{
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    text-align: center;
    text-decoration:overline;
    text-decoration-color: darkred;
}
p{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    
}
em strong{
    color: red;
}

li{
    font-style: italic;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.principal{
    background: #a1a1a1;
    padding: 20px;
}
.diferenciales{
    background: #ffffff;
    padding: 30px;
    
}
.imagenDiferencial{
    height:50%;
    width: 50%;
    align-content: end;
}